{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load cache %}

{% block title %}
Search - {{ search_query }}
{% endblock %}

{% block content %}
{% cache 900 search search_query search_results %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>Categories</h5>
            <ul class="list-group">
                <li class="list-group-item {% if not selected_category %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}">All</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Home and Lifestyle' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Home and Lifestyle">Home & Lifestyle</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Electronic Devices' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Electronic Devices">Electronic Devices</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Home Appliances' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Home Appliances">Home Appliances</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Sports and Outdoor' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Sports and Outdoor">Sports & Outdoor</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Men Fashion' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Men Fashion">Men’s Fashion</a>
                </li>
                <li class="list-group-item {% if selected_category == 'Mobile and Accessories' %}active-category{% endif %}">
                    <a style="color: green;" href="{% url 'products:products-listing' %}?search={{ search_query }}&category=Mobile and Accessories">Mobile and Accessories</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9">
            <h4>Search Results for <mark>{{ search_query }}</mark> - {{ no_results }} results found!</h4>
            <div class="row">
                {% for product in search_results %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'products:detail' product.id %}">
                            <img 
                                class="card-img-top"
                                {% if product.image_url %}
                                    src="{{ product.image_url }}" 
                                {% else %}
                                    src="{{ product.image.url }}"
                                {% endif %}
                                alt="{{ product.name }}"
                                style="height: 300px; object-fit: cover;"
                            >
                        </a>
                        <div class="card-body">
                            <a style="color: green;" href="{% url 'products:detail' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">Rs. {{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?search={{ search_query }}{% if selected_category %}&category={{ selected_category }}{% endif %}&page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?search={{ search_query }}{% if selected_category %}&category={{ selected_category }}{% endif %}&page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?search={{ search_query }}{% if selected_category %}&category={{ selected_category }}{% endif %}&page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
<style>
    .list-group-item.active-category {
        background-color: darkgreen !important;
        color: white;
    }
    .list-group-item.active-category a {
        color: white !important;
    }
</style>
{% endblock %}
